<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peanut.Equipment.mapper.EquipmentRecommendMapper">

    <resultMap id="BaseResultMap" type="com.peanut.Equipment.domain.entity.EquipmentRecommend">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="heroId" column="hero_id" jdbcType="INTEGER"/>
            <result property="equipmentId" column="equipment_id" jdbcType="INTEGER"/>
            <result property="recommendType" column="recommend_type" jdbcType="TINYINT"/>
            <result property="stage" column="stage" jdbcType="TINYINT"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,hero_id,equipment_id,
        recommend_type,stage,version,
        delete_flag,create_time,update_time
    </sql>

  <select id="findById" resultType="com.peanut.Equipment.domain.vo.EquipmentRecommendRecordVO">
    select er.*, e.name as equipment_name, h.name as hero_name from `lol_equipment_recommend` as er
        inner join `lol_equipment` as e on er.`equipment_id` = e.id
        inner join `lol_hero` as h on er.`hero_id` = h.`id`
        where er.`id` = #{id}
  </select>

  <!-- 获取分页 -->
  <select id="page" resultType="com.peanut.Equipment.domain.vo.EquipmentRecommendPageVO">
    select er.*, e.name as equipment_name, h.name as hero_name from `lol_equipment_recommend` as er
        inner join `lol_equipment` as e on er.`equipment_id` = e.id
        inner join `lol_hero` as h on er.`hero_id` = h.`id`
        <where>
          <if test="param1.heroName != null">
            h.`name` like "%${param1.heroName}%"
          </if>
          <if test="param1.equipmentName != null">
            and e.`name` like "%${param1.equipmentName}%"
          </if>
          <if test="param1.stage != null">
            and er.`stage` = #{param1.stage}
          </if>
          <if test="param1.recommendType != null">
            and er.`recommend_type` = #{param1.recommendType}
          </if>
        </where>
        limit #{offset}, #{param1.pageSize}
  </select>

  <!-- 获取总数 -->
  <select id="count" parameterType="com.peanut.Equipment.domain.dto.EquipmentRecommendPageDTO" resultType="java.lang.Long">
    select count(*) from `lol_equipment_recommend` as er
      inner join `lol_equipment` as e on er.`equipment_id` = e.id
      inner join `lol_hero` as h on er.`hero_id` = h.`id`
    <where>
      <if test="heroName != null">
        h.`name` like "%${heroName}%"
      </if>
      <if test="equipmentName != null">
        and e.`name` like "%${equipmentName}%"
      </if>
      <if test="stage != null">
        and er.`stage` = #{stage}
      </if>
      <if test="recommendType != null">
        and er.`recommend_type` = #{recommendType}
      </if>
    </where>
  </select>
</mapper>
